.slider{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 50px;
  }
  
.carousel {
    height: 400px !important;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }
  
.carousel1{
    height: 400px !important;
    width: 40%; 
    display: inline-block;
    vertical-align: middle;
  }
  
.carousel-inner img {
    height: 400px !important;
    margin: 0 auto;
  }
  
.discount{
    padding-top: 100px;
  }

.card-link {
  text-decoration: none;
  height: 100%;
  color:black;
  }

.row{
      background-color: wheat;
      padding: 20px;
  }

  .btn{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FCFF6D;
    color: black;
    border-color: black;
} 